<!doctype html>
<html lang="en">
  <head>
    <title>TOne</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./css/src/MeoBox2.css" />
    <link rel="stylesheet" href="./css/src/TOne.css" />
    <link rel="stylesheet" href="./css/src/Layout.css" />
    <link rel="stylesheet" href="./css/src/TopBar.css" />
    <link rel="stylesheet" href="./css/src/SidebarNav.css" />
    <link rel="stylesheet" href="./css/src/SidebarInfo.css" />
    <link rel="stylesheet" href="./css/src/Console.css" />
    <link rel="stylesheet" href="./css/src/Manager.css" />
    <link rel="stylesheet" href="./css/src/Gallery.css" />
    <link rel="stylesheet" href="./css/src/Original.css" />
    <link rel="stylesheet" href="./css/src/ContextMenu.css" />
    <link rel="stylesheet" href="./css/src/OverlayForm.css" />
  </head>
  <body>
    <div id="TOne">
      <div id="TOne-SidebarNav">
        <h1 title="About TOne">TOne</h1>
        <ul id="TOne-MastNav">
          <li><button id="TOne-SidebarNav-ManageSubscriptions" title="Manage Subscriptions and Categories" v-on:click="setRoute('ManageSubscriptionsAndCategories')" >&#9998;</button></li>
          <li><button id="TOne-SidebarNav-EditSettings" title="Settings">&#x2699;</button></li>
        </ul>
        <ul id="TOne-CatNav">

          <!-- Catgegories -->
          <li v-for="(category, categoryIndex) in sortedCategoriesByName" v-bind:data-visibility="category.visibility">
            <a href="javascript:void(0);" v-on:click="toggleSidebarCategory(categoryIndex)"><span class="tone-subscriptionsLength" v-html="getSubscriptionsByCategoryId( category.id, 'ok' ).length"></span> {{ category.name }}</a>
            <ul class="tone-blogNav">

              <!-- Subscriptions (for a given category) -->
              <li v-for="( subscription, subscriptionIndex ) in getSubscriptionsByCategoryId( category.id, 'ok' )" >
                <a v-on:click="handleBlogClick( $event, subscription.name )" href="javascript:void(0);" class="tumblr" v-bind:title="subscription.name" v-html="generateSidebarNavBlognameHTML( subscription.title, '<span title=\'Edit\'>&#9998;</span>' )"></a>
              </li>

            </ul>
          </li>

        </ul>
      </div><!-- end #TOne-SidebarNav -->
      <div id="TOne-TopBar">
        <service-nav-form :blgnm="gallery.blogname"></service-nav-form>
      </div><!-- end #TOne-TopBar -->
      <div id="TOne-Main">
        
        <!-- PREV/NEXT NAV GALLERY -->
        <div class="tone-pageNav tone-galleryNav">
          <div class="tone-pageNav-prev" v-on:click="pageController_decrease">Prev</div>
          <input type="number" class="tone-pageNav-pageNr" v-bind:value="gallery.pageNr" min="1" max="999" v-on:change=" event => pageController_update( event )" />
          <div class="tone-pageNav-next" v-on:click="pageController_increase">Next</div>
        </div>

        <div class="tone-isLoading" v-if="isLoading === true"></div>

        <!-- GALLERY -->
        <div id="TOne-Gallery">
          
          <div class="tone-gallery-message" v-if="gallery.items.length < 1 && isLoading === false">No Supported Images Found</div>

          <div class="tone-gallery-group" v-for="(galleryItem) in gallery.items">
            <div class="tone-gallery-item" v-for="(photo) in galleryItem.photos">
              <img class="tone-gallery-item-thumbnail" v-bind:src="photo.thumbnailUrl" alt="Thumbnail" />
              <!-- Standard -->
              <div class="tone-gallery-item-meta" v-if=" action === 'isGo' " v-on:click="viewOriginalImage( photo.originalUrl, galleryItem.notes )">
                <div class="tone-gallery-item-meta-date">{{ galleryItem.date }}</div>
              </div>
              <!-- Search Result -->
              <div class="tone-gallery-item-meta" v-if=" action === 'isSearch' " v-on:click="viewOriginalSearchImage( photo.originalUrl, galleryItem.notes, galleryItem.blogname )">
                <div class="tone-gallery-item-meta-date">{{ galleryItem.date }}</div>
              </div>
            </div>
          </div>

        </div><!-- end #TOne-Gallery -->

        
      </div><!-- end #TOne-Main -->

      <div id="TOne-Console">
        
        <div class="tone-console-btnClear" v-if="consoleItems.length > 0"><span v-on:click="clearConsoleItems">Clear</span></div>

        <div class="tone-console-item" v-for="(consoleItem) in consoleItems" v-bind:data-type="consoleItem.type">
          <div class="tone-console-item-time">{{ consoleItem.time }}</div>
          <div class="tone-console-item-title">{{ consoleItem.title }}</div>
          <div class="tone-console-item-message">{{ consoleItem.message }}</div>
          <table class="tone-console-item-data">
            <tr v-for="( dataItem, dataKey, dataIndex ) in consoleItem.data">
              <td class="tone-console-item-data-key">{{ dataKey }}:</td>
              <td class="tone-console-item-data-value">{{ dataItem }}</td>
            </tr>
          </table>
        </div>

      </div><!-- end #TOne-Console -->

      <div id="TOne-SidebarInfo">
        <h3 v-if="reblogs.length > 0">Blog Results <span v-on:click="resetReblogs">Clear</span></h3>
        <ul v-if="reblogs.length > 0 ">
          <li v-for="(reblogName, reblogIndex) in reblogs">
            <a href="javascript:void(0);" v-on:click="loadBlogByName( reblogName ); markAsVisited($event);">{{ reblogName }}</a>
          </li>
        </ul>
      </div><!-- end #Tone-SidebarInfo -->

      <!-- ORIGINAL image (plus prev/next nav) as full window overlay -->
      <div id="TOne-Original" v-if="originalImageUrl !== '' ">
        <img id="TOne-Original-Image" v-bind:src="originalImageUrl" alt="Original" v-on:click="closeOriginalImage" />
        <!-- hover prev/next buttons und/ODER wenn aktiv, via arrow tasten rechts und links (loopable) durch die aktuelle gallery browsen -->
      </div><!-- end #TOne-Original -->
    

      <!-- Pseudo Overlay -->
      <div id="TOne-OverlayForm" v-if="overlayForm.current">
        <div :is="overlayForm.current"></div>
      </div>


    </div><!-- end #TOne -->
    
    <script src="./js/src/MeoBox2.js"></script>

    <!-- DATA -->
    <script src="./data/tone-subscriptions.js"></script>
    <!-- prepping data > should be done already -->
    <script>
      (function prepSubscriptions(){
        
        var i   = 0;
        var dim = toneSubscriptions.length;
        
        for( i = 0; i < dim; i++ ) {
          
          toneSubscriptions[i].visibility = "closed";
        
        }
        
      })();
    </script>
    <script src="./data/tumbrPreviewResponse.js"></script>

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Vue App -->
    <script src="js/src/TOne.js"></script>
    <script src="js/src/TOne/Console.js"></script>

    <script src="js/src/TOne/Components.js"></script>
    <script type="module" src="js/src/TOne/Components/ManageSubscriptionsForm.js"></script>
    <script type="module" src="js/src/TOne/Components/ServiceNavForm.js"></script>

    <script src="js/src/TOne/Services.js"></script>
    <script src="js/src/TOne/Services/Tumblr.js"></script>

    <script src="js/src/TOne/ContextMenu.js"></script>
    
    <script type="module">

import FileAPI            from "./js/src/TOne/FileAPI.js";
import createAppConfig    from "./js/src/TOne/Config.js";
import TumblrBlogResponse from "./js/src/TOne/Services/Tumblr/BlogResponse.js";
import TumblrAPI          from "./js/src/TOne/Services/Tumblr/API.js";
import { Subscriptions }  from "./js/src/TOne/Data/Subscriptions.js";
import {
  Subscription,
  createSubscription
}                         from "./js/src/TOne/Data/Subscription.js";
import SubscriptionsAPI   from "./js/src/TOne/SubscriptionsAPI.js";
import { stripHTML }      from "./js/src/TOne/Helpers.js";

/**
 * Load and provide AppConfig object.
 * @todo error handling > only init app when config is valid!
 */
const AppConfig   = createAppConfig( "./data/config.json" );

/**
 * Create and provide the TumblrService object.
 */
const TumblrService = new TumblrAPI({
  customerKey : AppConfig.tumblrCustomerKey
});

// Just some test calls...
/*
TumblrService.getSearchResults( "Emma Watson", 2 ).then( (results) => {
  console.log( results );
});
TumblrService.getPosts( "sehomes" ).then( (results) => {
  console.log( results );
});
*/

// Initial sample gallery items
//var sampleBlogResponse = new TumblrBlogResponse( tumblrResponse );
//var sampleGalleryItems = sampleBlogResponse.photoItems;



Vue.component( "manage-subscriptions-form", TOne.Components.ManageSubscriptionsForm );
Vue.component( "service-nav-form",          TOne.Components.ServiceNavForm );


(function() {
  
  "use strict";

  var contents    = fs.readFileSync( "data/config.json" );
  var configData  = JSON.parse( contents );
  
  TOne.config     = configData;
  
})();



function compareByName( a, b ) {
  
  let a_name = a.name.toLowerCase();
  let b_name = b.name.toLowerCase();
  
  if( a_name < b_name ) {
    return -1;
  }
  else if( a_name > b_name ) {
    return 1;
  }
  else {
    return 0;
  }
  
}

function compareByTitle( a, b ) {
  
  let a_name = a.title.toLowerCase();
  let b_name = b.title.toLowerCase();
  
  if( a_name < b_name ) {
    return -1;
  }
  else if( a_name > b_name ) {
    return 1;
  }
  else {
    return 0;
  }
  
}

function filterSubscriptionsByStatus( subscriptions, argStatus ) {

  var status  = ( "string" === typeof argStatus ? argStatus.toLowerCase().trim() : "" );

  var subs    = [];
  var i       = 0;
  var dimSubs = subscriptions.length;

  for( i = 0; i < dimSubs; i++ ) {
    
    if( status === "" ) {
      
      subs.push( subscriptions.data[i] );
      
    }
    else if( subscriptions[i].status.toLowerCase().trim() === status ) {
      
      subs.push( subscriptions[i] );
      
    }
    
  }
  
  return subs;
  
}


/*
var responseGalleryItems  = generateGalleryItemsFromTumblrResponse( tumblrResponse );
var sampleGalleryItems    = responseGalleryItems.slice(0);
var subSampleSize         = 5;
var subSample             = [];
for( let i = 0; i < subSampleSize; i++ ) { 
  subSample.push( sampleGalleryItems[i] );
}
*/

var initialSubscriptions  = new Subscriptions( toneSubscriptions );
var app                   = {};

// @todo via config
let subscriptionsFile     = "./data/subscriptions.json";

// FileAPI.saveSubscriptions( initialSubscriptions );
FileAPI.loadSubscriptionsFile( subscriptionsFile ).then(
  ( result ) => {

    // console.log( result );
    // @todo only on success START APP!!
    // tmp
    initialSubscriptions    = result;
    // console.log( result );

    // Load data into the APP DATA object
    app.$data.subscriptions = initialSubscriptions;

  },
  ( subscriptionsErr ) => {

    console.log( subscriptionsErr );

  }
);


/**
 * VUE APP (INSTANCE)
 */
app = new Vue({
  el : "#TOne",

  data : {
    action            : "isGo",
    subscriptions     : initialSubscriptions,
    gallery           : {
      items     : [],
      pageNr    : 1,
      service   : AppConfig.init.service,
      blogname  : AppConfig.init.blogname
    },
    isLoading         : false,
    originalImageUrl  : "",
    reblogs           : [],
    consoleItems      : [],

    // Pseudo Routes/Routing
    // Basically component names
    routes            : [
      "Gallery",
      "ManageSubscriptionsAndCategories"
    ],
    currentRoute      : "gallery",

    // Overlay Form
    overlayForm       : {
      isOpen  : true,
      title   : "Add Subscription",
      action  : "subscribe",
//      current : TOne.Components.ManageSubscriptionsForm,
      current : null,
      data    : {
        subscription  : null,
        category      : null,
        name  : "This is a name",
        title : "This is a title"
      }
    }

  },

  methods  : {

    // overlayForm
    overlayForm_close : function() {
      this.overlayForm.isOpen	  = false;
      this.overlayForm.current  = null;
      this.overlayForm.data     = {};
    },
    overlayForm_load : function( component ) {

      this.overlayForm.isOpen   = true;
      this.overlayForm.current  = component;

    },
    
    // TopBar ServiceNav
    serviceNav_go : function( formData ) {
      // console.log( "ServiceNav: GO" );
      // console.log( formData );
      this.gallery.blogname = formData.blogname;
      this.pageController();
    },
    serviceNav_search : function( formData ) {
      // console.log( "ServiceNav: SEARCH" );
      // console.log( formData );
      
      let _this = this;

      TumblrService.getSearchResults( formData.blogname, 1 ).then( function( searchResults ) {

        _this.action          = "isSearch";
        _this.gallery.items   = searchResults.photoItems;
        _this.gallery.pageNr  = 1;
        
      });

    },
    serviceNav_unsubscribe : function( formData ) {

      // console.log( "Unsubscribe from", formData );

      let response = SubscriptionsAPI.getSubscriptionByName( this.subscriptions, formData.blogname );

      if( false === response ) {
        return false;
      }

      if( confirm( "Do you really want to unsubscibe to '" + stripHTML( response.subscription.title ) + "'\n aka [" + response.subscription.name+ "] ?" ) ) {

        let status_deleteSubscription = SubscriptionsAPI.deleteSubscription( this.subscriptions, response.subscription.id );

        if( status_deleteSubscription === true ) {

          let subs = SubscriptionsAPI.closeAllCategories( this.subscriptions );

          if( false === subs ) {
            return false;
          }

          FileAPI.saveSubscriptions( subs ).then(
            ( res ) => {

              console.log( res );

            },
            ( reason ) => {

              console.log( "[Error] Updated susbcriptions could not be saved!" ) ;
              console.log( "Reason: " + reason );

            }
          );

        }
        else {
          console.log( "[Error] Subscription [id:" + response.subscription.id + "] could not be deleted aka 'unsubscribed to'" );
        }

      }
      else {
        return false;
      }
      
    },
    serviceNav_subscribe : function( formData ) {
      // console.log( "ServiceNav: SUBSCRIBE" );
      // console.log( formData );

      let _this = this;

      TumblrService.getBlogInfo( formData.blogname ).then( function( results ) {

        // results.info.blogname
        // results.info.title
        // result.meta.status (number)
        // result.meta.msg (text)
        // console.log( results );

        let categoryId                      = -1;
        let tmpSub                          = null;

        // Check if the blog has already been subscribed to.
        let subExists                       = SubscriptionsAPI.getSubscriptionByName( _this.subscriptions, results.info.blogname );

        if( false === subExists ) {

          tmpSub                            = new Subscription({
            name    : results.info.blogname,
            title   : results.info.title,
            service : "tumblr"      // @todo do not use hardcoded values!
          });

        }
        else {

          tmpSub                            = subExists.subscription;

          categoryId                        = _this.subscriptions.data[ subExists.categoryIndex ].id;

        }

        // Also, while we're at it,
        // update data like
        //  the HTTP Status and
        //  set "last updated" to "now"
        // for existing subscriptions
        tmpSub.httpStatus                   = results.meta.status;
        tmpSub.status                       = results.meta.msg.toLowerCase().trim();
        tmpSub.lastUpdated                  = ( new Date() ).toISOString();

        _this.overlayForm.title             = "Add Subscription";
        _this.overlayForm.action            = "subscribe";
        _this.overlayForm.data.subscription = tmpSub;
        _this.overlayForm.data.categoryId   = categoryId;

        _this.overlayForm_load( TOne.Components.ManageSubscriptionsForm );

      });

    },

    serviceNav_update : function( subscriptionName ) {

      console.log( "Service Nav: Update Subscription" );

      this.overlayForm.title  = "Update Subscription";
      this.overlayForm.action = "update";

      // Get subscription by name or id
      let subscriptionResponse        = SubscriptionsAPI.getSubscriptionByName( this.subscriptions, subscriptionName );
      // console.log( subscriptionName, subscriptionResponse.subscription );

      if( false === subscriptionResponse ) {
        console.log( "[serviceNav_update] Could not find subscription.");
        return;
      }

      this.overlayForm.title              = "Update Subscription";
      this.overlayForm.action             = "update";
      this.overlayForm.data.subscription  = subscriptionResponse.subscription;
      this.overlayForm.data.categoryId    = subscriptionResponse.categoryId;

      // @todo set button label "Update Data" instead of "Subscribe"

      this.overlayForm_load( TOne.Components.ManageSubscriptionsForm );

    },

    // reverseOrder
    reverseOrder : function( arrayList ) {
      
      return arrayList.slice(0).reverse();
      
    },
    getSubscriptionsByCategoryId : function( categoryId, status ) {

      let filterByStatus = ( "string" === typeof status ? status.toLowerCase().trim() : "" );
      
      let subs          = [];
      let i             = 0;
      let dimCategories = this.subscriptions.data.length;

      for( i = 0; i < dimCategories; i++ ) {

        if(
          this.subscriptions.data[i].id === categoryId &&
          this.subscriptions.data[i].subscriptions.length > 0
        ) {

          subs = filterSubscriptionsByStatus( this.subscriptions.data[i].subscriptions, filterByStatus );

          break;
          
        }
        
      }

      return subs.sort( compareByTitle );

    },
    toggleSidebarCategory : function( categoryIndex ) {
      
      var visibility   = ( this.subscriptions.data[ categoryIndex ].visibility === "open" ? "closed" : "open" );

      this.subscriptions.data[ categoryIndex ].visibility = visibility;

      this.sortedCategoriesByName = categoryIndex;
      
    },
    resetGallery : function() {
      
      this.gallery.blogname = "";
      this.gallery.items    = [];
      this.gallery.pageNr   = 1;
      
    },
    viewGalleryByBlogname : function( blogname ) {
      
      this.resetGallery();
      
      this.gallery.blogname = blogname;
      
      this.pageController( "isGo" );

    },
    generateSidebarNavBlognameHTML : function( html, additionalHtml ) {

      return html + ' ' + additionalHtml;
      
    },
    viewOriginalImage : function( originalImageUrl, notes ) {

      this.originalImageUrl = originalImageUrl;

      this.showReblogs( notes );
        
    },
    viewOriginalSearchImage : function( originalImageUrl, notes, blogname ) {

      this.originalImageUrl = originalImageUrl;

      this.reblogs          = [ blogname ];

    },
    markAsVisited : function( event ) {
      
      event.target.classList.add("visited");
      
    },
    closeOriginalImage : function() {

      this.originalImageUrl = "";
      TOne.ContextMenu.closeAllMenus();

    },
    pageController : function( argAction ) {

      var action    = ( "string" === typeof argAction ? argAction : this.action );
      // console.log( action );

      var blogname  = this.gallery.blogname.trim();
      var pageNr    = this.gallery.pageNr;

      if( blogname === "" ) {
        return;
      }
      
      this.action         = action;
      this.isLoading      = true;

      // Reset current list.
      this.gallery.items  = [];

      TumblrService.getPosts( blogname, pageNr ).then( (results) => {

        // @todo if exists etc
        let items           =  results.photoItems;

        this.gallery.items  = items;
        this.updateLoadingStatus( false );

        if( items.length < 1 && results.meta.status !== 200 ) {

          this.addConsoleMessage(
            "Status Code: " + results.meta.status,
            results.meta.msg, "error",
            {
              blogname  : blogname,
              pageNr    : pageNr
            }
          );

        }

      });
      
    },

    handleBlogClick : function( event, subscriptionName ) {

      // <span title="Edit"></span>
      if( event.target.tagName.toUpperCase() === "SPAN" ) {

        console.log( "EDIT Subscription" );
        console.log( subscriptionName );
        this.serviceNav_update( subscriptionName );

      }
      // List element LINK <a href=""></a>
      else {
      
        this.viewGalleryByBlogname( subscriptionName );
        
      }
    
    },

    updateLoadingStatus: function( status ) {
      
      var val = ( "boolean" === typeof status ? status : true );
      
      this.isLoading = val;
      
    },
    pageController_increase : function() {
      
      this.gallery.pageNr += 1;
      
      this.pageController();
      
    },
    pageController_decrease : function() {
      
      this.gallery.pageNr -= 1;
      
      if( this.gallery.pageNr < 1 ) {
        this.gallery.pageNr = 1;
      }
      
      this.pageController();
      
    },
    pageController_update : function( event ) {
      
      var val = parseInt( event.target.value, 10 );
      
      if( val < 1 ) {
        val = 1;
      }
      else if( val > 999 ) {
        val = 999;
      }
      
      this.gallery.pageNr = val;
      
      this.pageController();
      
    },
    showReblogs : function( notes ) {
      
      // event.preventDefault();
      // this.originalImageUrl = "";

      // console.log( notes );

      if( !Array.isArray( notes ) ) {
        return;
      }
      
      var _this = this;
      
      notes.forEach( function( note ) {
        
        if( note.type === "reblog" ) {
          
          let noteExists = _this.reblogs.indexOf( note.blog_name );
          
          if( noteExists === -1 ) {
            _this.reblogs.push( note.blog_name );
          }
          
        }
        
      });
      
    },
    resetReblogs : function() {
      
      this.reblogs = [];
      
    },
    loadBlogByName : function( blogname ) {
      
      this.gallery.blogname = blogname;
      this.gallery.pageNr   = 1;
      this.action           = "isGo";

      this.setRoute("Gallery");
      
      this.pageController();
      
    },
    addConsoleMessage : function( title, message, type, data ) {
      
      let timeString  = ( new Date() ).toISOString().replace( /[a-z]/gi, " " );
      let shortTime   = timeString.substring( 11, ( timeString.length -5 ) );
      
      var msg         = {
        title   : ( "string" === typeof title ? title.trim() : "no title" ),
        message : ( "string" === typeof message ? message.trim() : "no message" ),
        type    : ( "string" === typeof type ? type.trim() : "standard" ),
        data    : ( "object" === typeof data ? data : {} ),
        time    : shortTime
      };
      
      this.consoleItems.unshift( msg );
      
    },
    clearConsoleItems : function() {
      this.consoleItems = [];
    },

    saveForm_updateSubscription : function( data ) {

      console.log( "Save Form: Update Subscription" );
      console.log( data );

      // Load "current" subscription by name:   data.name
      // Check name: If different, check EXISTS (have to be unique!)
      // Compare category IDs: If different: MOVE, else SAVE/UPDATE

      // gehört bereits in die SubscriptionsAPI!
      let currentSubResult = SubscriptionsAPI.getSubscriptionByName( this.subscriptions, data.name );
      console.log( currentSubResult );

      if( false === currentSubResult ) {
        // Does not exist!
        console.log( "Cannot find current subscription.")
        return;
      }

      // @tooo @next merge DATA and currentSubResult.subscription
      // if null or -1 > overwrite
      let newSub = new Subscription( data );
      console.log( newSub );


      let newCatIndex = SubscriptionsAPI.getCategoryIndexById( this.subscriptions, data.categoryId );
      
      if( false === newCatIndex ) {
        // Does not exist!
        console.log( "Cannot find new category.")
        return;
      }
      
      // Category the same?
      if( currentSubResult.categoryIndex !== newCatIndex ) {

        // MOVE subscription
        let moveSubStatus = SubscriptionsAPI.moveSubscription( this.subscriptions, currentSubResult.subscription, data.categoryId );
        
        if( false === moveSubStatus ) {
          console.log( "Could not move subscription from one category to another." );
          return;
        }
        
      }

      // Update subscription data
      let updateSub = SubscriptionsAPI.updateSubscription( this.subscriptions, data );
      console.log( updateSub );

      // Save subscriptions file
      let subs = SubscriptionsAPI.closeAllCategories( this.subscriptions );

      if( false === subs ) {
        return false;
      }

      // @todo save/create backup first?!
      FileAPI.saveSubscriptions( subs ).then(
        ( res ) => {

          console.log( res );

        },
        ( reason ) => {

          console.log( "[Error] Updated susbcriptions could not be saved!" ) ;
          console.log( "Reason: " + reason );

        }
      );
      
      this.saveForm_close();

    },
    saveForm_addSubscription : function( data ) {

      console.log( "Save Form: Add Subscription" );

      // Get a UNIUQE ID
      data.id = SubscriptionsAPI.generateId( this.subscriptions );
      // Assume http status @todo or BETTER check here! User might have entered "false" data in the form...
      data.httpStatus = "200";
      data.status     = "ok"

      // Generate a new subscription object
      let newSubscription = new Subscription( data );

      // Update subscriptions (stack) data
      let status_addNewSubscription = SubscriptionsAPI.addNewSubscription( this.subscriptions, newSubscription, data.categoryId );



      if( false !== status_addNewSubscription ) {

        let subs = SubscriptionsAPI.closeAllCategories( this.subscriptions );

      if( false === subs ) {
        return false;
      }

        // WRITE (update) subscriptions data JSON file
        FileAPI.saveSubscriptions( subs ).then(
          ( response ) => {

            console.log( response );

          },
          ( reason ) => {

            console.log( reason );

          }
        );

      }
      else {
        // console.log( "[Error] Could not add Subscription" );
      }

      this.saveForm_close();
      
      // do all required fields exist?
      // does the entry already exist?
      // if so, update data OR ASK before updating! 
      // make backup of current subscriptions-timestampNow.json
      // Save data file
      // update data property so that the new or updated item appears in the left sidebar!

    },
    saveForm_close : function() {

      // Close the form
      this.overlayForm.current  = null;
      // Reset the form data
      this.overlayForm.data     = {};

    },

    // Pseudo Routes/Routing
    setRoute : function( route ) {

      let newRoute = ( this.routes.indexOf( route ) > -1 ? route : "Gallery" );

      // Don't bother if the current route is already in use.
      if( newRoute === this.currentRoute ) {
        return;
      }

      // @todo check if route-component exists
      this.currentRoute = newRoute;

      console.log( "ROUTE: " + this.currentRoute );
      
    }

  },
  computed : {
    sortedCategoriesByName : {
      
      get : function() {

        return this.subscriptions.data.sort( compareByName );

      },
      
      set : function( categoryIndex ) {

        var i     = 0;
        var dim   = this.subscriptions.data.length;
      
        for( i = 0; i < dim; i++ ) {
          
          // dont touch the already toggled item
          if( i !== categoryIndex ) {

            this.subscriptions.data[ i ].visibility = "closed";
          
          }
        
        }
      
      }

    }
  },

  created : function() {
    this.pageController( "isGo" );
  }

});


    </script>

  </body>
</html>