
/**
 * Console
 */
#TOne-Console {
  padding:        0.5em;
  overflow-y:     auto !important;
}

.tone-console-btnClear {
  display:        block;
  text-align:     right;
}
.tone-console-btnClear span {
  display:        inline-block;
  color:          #1DE9B6;
  cursor:         pointer;
}

.tone-console-item {
  margin:         0.5em 0;
  padding:        0.5em 0;
  border-bottom:  1px solid #444;
}
.tone-console-item-time {
  font-size:      0.75em;
  color:          #FFF;
}
.tone-console-item-title{
  margin:         0.5em 0;
  font-size:      0.9em;
}
.tone-console-item[data-type="error"] .tone-console-item-title {
  color:          #FB8C00;
}
.tone-console-item-message {
  font-size:      0.9em;
}
.tone-console-item[data-type="error"] .tone-console-item-message {
  color:          #E65100;
}
.tone-console-item-data {
  margin:         0.5em 2em;
  font-size:      0.75em;
}
.tone-console-item-data-key {
  color:          #CCC;
}


