
ul.contextMenu {
  position:         absolute;
  display:          block;
  margin:           0;
  padding:          5px;
  list-style:       none;
  background-color: #FFF;
  border:           1px solid #333;
  z-index:          10000;
}
ul.contextMenu li {
  display:          block;
  margin:           0;
  padding:          0;
  list-style-type:  none;
}
ul.contextMenu a {
  display:          block;
  padding:          0.25em 1em;
  color:            #000;
  text-decoration:  none;
}
ul.contextMenu a:hover {
  background-color: #EEE;
}
ul.contextMenu.hidden {
  display:          none;
}
