 /**
  * GALLERY
  */
  #TOne-Gallery {
    display:              block;
    /* @todo max height + overflow WITHIN, so the PageNav always stays on top */
    margin:               1em;
  }
  #TOne-Gallery * {
    -webkit-user-select:  none;
  }
  .tone-gallery-message {
    display:              block;
    margin:               1em 0;
    text-align:           center;
    font-style:           italic;
  }
  .tone-gallery-group {
    display:              inline-block;
  }
  .tone-gallery-item {
    display:              inline-block;
    position:             relative;
    margin:               1em;
    max-width:            100px;
    max-height:           200px;
    cursor:               pointer;
  }
  .tone-gallery-item-thumbnail {
    max-width:            100%;
    max-height:           100%;
  }
  .tone-gallery-item-meta {
    position:             absolute;
    top:                  0;
    right:                0;
    bottom:               0;
    left:                 0;
    font-size:            0.85em;
    color:                #FFF;
    background-color:     rgba( 0, 0, 0, 0.4 );
    visibility:           hidden;
    opacity:              0;
  }
  .tone-gallery-item:hover .tone-gallery-item-meta {
    visibility:           visible;
    opacity:              1;
  }
  .tone-gallery-item-meta-date,
  .tone-gallery-item-meta-infos,
  .tone-gallery-item-meta-reblogs {
    text-align:           center;
    padding:              0.2em;
  }
  .tone-gallery-item-meta-infos {
    position:             absolute;
    bottom:               0;
    left:                 0;
    right:                0;
    text-align:           center;
  }
  .tone-pageNav * {
    -webkit-user-select:  none;
  }
  .tone-isLoading {
    display:              block;
    margin:               1em auto;
    width:                50px;
    height:               50px;
    background:           transparent url("../../images/loadingSpinner.svg") center center no-repeat;
  }
