/* GRID LAYOUT */

#TOne {
    display:                grid;
    grid-template-columns:  300px 1fr 300px;  /* Sidebar:300 Main Sidebar:300 */
    grid-template-rows:     minmax(min-content, max-content) 1fr 200px;  /* TopBar:100 Main Console:200 */
    grid-column-gap:        0px;
    grid-row-gap:           0px;
    width:                  100vw;
    height:                 100vh;
  }
  
  #TOne > div {
    overflow:               hidden;
  }
  
  #TOne-SidebarNav {
    grid-area:              1 / 1 / 4 / 2;
    color:                  #FFF;
    background-color:       #333;
    overflow-y:             auto !important;
  }
  
  #TOne-TopBar {
    grid-area:              1 / 2 / 1 / 3;
  }
  
  #TOne-Main {
    grid-area:              2 / 2 / 2 / 3;
    overflow-y:             auto !important;
    padding-bottom:         2em;
  }
  
  #TOne-Console {
    grid-area:              3 / 2 / 3 / 3;
    color:                  #CCC;
    background-color:       #000;
  }
  
  #TOne-SidebarInfo {
    grid-area:              1 / 3 / 4 / 4;
    color:                  #FFF;
    background-color:       #333;
  }
  