/**
 * MANAGER
 */

#TOne-Manager-Nav {
    display:            block;
    margin:             0 1em;
    padding:            0;
    list-style:         none;
}
#TOne-Manager-Nav li {
    display:            inline;
    margin:             0;
    padding-right:      0.25em;
}

.tone-manager-category {
    display:            block;
    margin:             1em 1em 0 1em;
    padding:            0.5em 1em;
}

.tone-manager-category {
    color:              #FFF;
    background-color:   #AAA;
}

.tone-manager-category-name,
.tone-manager-action,
.tone-manager-action > button,
.tone-manager-subscription-name {
    display:            inline-block;
}

.tone-manager-category-name {
    float:              left;
}

.tone-manager-action {
    float:              right;
}

.tone-manager-subscription {
    display:                block;
    margin:                 1px 1em;
    padding:                0.5em 1em;
    color:                  #000;
    background-color:       #FFF;
}
.tone-manager-subscription-name span {
    margin-left:            1em;
}

.tone-manager-subscription-inactive {
    opacity:                0.3;
}

.tone-manager-subscriptions-checkGreen {
    background-color:       #48c252;
}
.tone-manager-subscriptions-checkRed {
    color:                  #FFF;
    background-color:       #e33434;
}

.tone-manager-crud {
    display:                block;
    margin:                 1em auto;
    padding:                1em;
    text-align:             center;
}

.tone-manager-form,
.tone-manager-formItem,
.tone-manager-formItem label,
.tone-manager-formItem input[type="text"],
.tone-manager-formItem select,
.tone-manager-formAction {
    display:                block;
    padding:                0.25em 0.5em;
}

.tone-manager-form {
    width:                  410px;
    margin:                 0 auto;
    text-align:             left;
}

.tone-manager-formItem {
    margin:                 0.5em 0;
}

.tone-manager-formItem input[type="text"] {
    width:                  400px;
}

.tone-manager-radioLabel {
    margin-right:           1em;
}

.tone-manager-formItem select {
    min-width:              200px;
}

.tone-manager-formItem button {
    padding:                0 1em;
    margin-right:           1em;
}

.tone-manager-formAction {
    margin-top:             2em;
}