
.meoBox2 {
  position:     	    absolute;
  display:      	    inline-block;
  top:                5em;
  left:               50%;
  width:        	    500px;
  margin-left:        -250px;
  font-family:        sans-serif;
  font-size:          12pt;
  color:              #000;
  background-color:   #FAFAFA;
  box-shadow:         0px 2px 4px #AAA;
  z-index:            100;
}
.meoBox2-group:after {
  visibility:         hidden;
  display:            block;
  content:            "";
  clear:              both;
  height:             0;
}
.meoBox2-hide {
  display:            none !important;
}
.meoBox2-minimized {
  opacity:            0.7;
}
.meoBox2-hideSiblings ~ * {
  display:            none !important;
}
.meoBox2-header {
  display:            block;
  margin:             0;
  background-color:   #444;
  color:              #FFF;
}
.meoBox2-header-title {
  float:              left;
  display:            inline-block;
  padding:            0.25em 0.5em;
  line-height:        1.5em;
}
.meoBox2-header-btn {
  float:              right;
  display:            inline-block;
  padding:            0.25em 0.5em;
  margin-left:        0.25em;
  background-color:   transparent;
}
.meoBox2-header-btn:hover {
  cursor:             pointer;
}
.meoBox2-header-btnClose {
  background-color:   #444;
  transition:         background-color 100ms linear;
}
.meoBox2-header-btnClose:hover {
  background-color:   #A00;
  color:              #FFF;
}
.meoBox2-header-btnMinimize,
.meoBox2-header-btnMaximize {
  background-color:   #444;
  transition:         background-color 100ms linear;  
}
.meoBox2-header-btnMinimize:hover,
.meoBox2-header-btnMaximize:hover {
  background-color:   #888;
}

.meoBox2-body {
  display:            block;
  margin:             0;
  padding:            0.5em 1em;
  background-color:   #FFF;
  color:              #000;
}

.meoBox2-footer {
  display:            block;
  margin:             0;
  padding:            0.75em 5em;
  text-align:         center;
  background-color:   #EEE;
}
.meoBox2-footer-btn {
  display:            inline-block;
  padding:            0.5em 1.5em;
  border-radius:      0.25em;
}
.meoBox2-footer-btn:hover {
  cursor:             pointer;
}
.meoBox2-footer-btnCancel {
  float:              left;
  background-color:   #A00;
  color:              #FFF;
}
.meoBox2-footer-btnOkay {
  float:              right;
  background-color:   #2196F3;
  color:              #FFF;
}
.meoBox2-footer-btnAbort {
  background-color:   #FAFAFA;
  color:              #000;
}


/**
 * Fade-in the box when OPENING
 * but immediately close the box (without animation)!
 */
.meoBox2 {
  animation:          fadein 0.25s;
  -moz-animation:     fadein 0.25s; /* Firefox */
  -webkit-animation:  fadein 0.25s; /* Safari and Chrome */
  -o-animation:       fadein 0.25s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
