
#TOne-Original {
    position:             absolute;
    display:              block;
    top:                  0;
    left:                 0;
    bottom:               0;
    right:                0;
    background-color:     rgba( 0, 0, 0, 0.95 );  /* via settings; maybe completely black? */
    text-align:           center;
    z-index:              1000;
}
#TOne-Original * {
    -webkit-user-select:  none;
}
#TOne-Original img {
    position:             absolute;
    max-width:            100%;
    max-height:           100%;
    left:                 50%;
    top:                  50%;
    -webkit-transform:    translate(-50%, -50%);
}
