/** FORM OVERLAY **/
#TOne-OverlayForm {
  position: 	      fixed;
  display:          block;
  top:              0;
  left:             0px;
  width:            100%;
  height:           100%;
  background-color: rgba( 0, 0, 0, 0.5 );
  overflow-y:       auto;
  z-index:          1000;
}
#TOne-OverlayForm form {
  display:          block;
  margin:           4em auto 0;
  width:            700px;
  background-color: #EEE;
  border:           1px solid #FFF;
}
#TOne-OverlayForm h2 {
  margin:           0;
  padding:          0.25em 0.15em 0.25em 0.5em;
  font-size:        1.25em;
  background-color: #000;
  color:            #EFEFEF;
}
#TOne-OverlayForm h2 span {
  float:            right;
  padding:          0 0.5em;
  cursor:           pointer;
}
#TOne-OverlayForm h2 span:hover {
  background-color: #A00;
}
.tone-overlayForm-items {
  margin:           0;
  padding:          0.5em;
}
.tone-overlayForm-item {
  margin:           1em 0;
}
#TOne-OverlayForm .tone-overlayForm-item:last-child {
  margin-top:       2.5em;
  margin-bottom:    1em;
}
.tone-overlayForm-item-columnA {
  float:            left;
  width:            150px;
  text-align:       right;
  padding-right:    1em;
}
.tone-overlayForm-item-columnB {
  float:            left;
  width:            400px;
}
#TOne-OverlayForm input[type="text"],
#TOne-OverlayForm select {
  padding:          0 0.15em;
  width:            300px;
  font:             inherit;
}
.tone-overlayForm-item.tone-overlayForm-center {
  text-align:       center;
}
.tone-overlayForm-btn {
  padding:          0.5em 2em;
  border:           0;
  border-radius:    0.15em;
  -webkit-user-select:  none;
  user-select:          none;
}
.tone-overlayForm-btnCancel {
  margin-right:     2em;
  background-color: #CCC;
}
.tone-overlayForm-btnSubmit {
  color:            #FFF;
  background-color: #0288D1;
}
