/* https://colorlib.com/etc/bootstrap-sidebar/sidebar-01/ */



/**
 * Cat+Blog Nav
 */
/* LOGO */
h1 {
    margin:               0;
    padding:              0.5em;
    color:                #000;
    font-size:            1.35em;
    letter-spacing:       5px;
    text-shadow:          -1px -1px 2px #CCC,
                          -1px 0px 2px #CCC,
                          -1px 1px 2px #CCC,
                          0px -1px 2px #CCC,
                          0px 1px 2px #CCC,
                          1px -1px 2px #CCC,
                          1px 0px 2px #CCC,
                          1px 1px 2px #CCC;
    cursor:               pointer;
  }
  
  /* MAST NAV */
  #TOne-MastNav {
    display:                block;
    margin:                 0.5em 0 1em 0;
    padding:                0.5em;
  }
  #TOne-MastNav li {
    display:                inline;
    margin:                 0;
    padding:                0 0.5em 0 0;
  }
  #TOne-MastNav button {
    display:                inline-block;
    font:                   inherit;
    background-color:       #CCC;
    border:                 none;
    cursor:                 pointer;
    filter:                 grayscale(100%);
  }
  #TOne-MastNav button:hover {
    background-color:       #EEE;
    filter:                 grayscale(0%);
  }
  
  /* SIDEBAR NAV (Categories and Blogs */
  #TOne-SidebarNav a {
    display:                block;
    text-decoration:        none;
  }
  #TOne-CatNav,
  .tone-blogNav {
    margin:                 0px;
    padding:                0px;
  }
  #TOne-CatNav > li,
  .tone-blogNav > li {
    display:                block;
    padding:                0.5em;
  }
  #TOne-CatNav > li {
    border:                 1px solid #333; /* matches background color @todo or "transparent"? */
  }
  #TOne-CatNav > li[data-visibility="open"],
  #TOne-CatNav > li.open {
    border-color:           #555;
  }
  .tone-blogNav {
    margin-top:             0.5em;
  }
  .tone-blogNav > li:last-child {
    border-bottom:          none;
  }
  #TOne-CatNav > li > a {
    color:                  #CCC;
  }
  #TOne-CatNav > li > a span {
    color:                  #777;
  }
  .tone-subscriptionsLength {
    display:                inline-block;
    width:                  2em;
    text-align:             right;
  }
  .tone-subscriptionsLength:before {
    content:                "(";
  }
  .tone-subscriptionsLength:after {
    content:                ")";
  }
  
  .tone-blogNav > li > a {
    padding-left:           2.25em;
    color:                  #FFF;
  }
  .tone-blogNav > li > a:hover {
    color:                  #FFF;
  }
  #TOne-CatNav ul {
    display:                none;
  }
  #TOne-CatNav li[data-visibility="open"] ul,
  #TOne-CatNav li.open ul {
    display:                block;
  }
  .tone-blogNav li {
    margin:                 1px 0;
    padding-left:           0;
    background-color:       #444;
  }
  .tone-blogNav li.active a {
    color:                  #FFF;
  }
  .tone-blogNav li a span {
    float:                  right;
    color:                  #BBB;
    visibility:             hidden;
    filter:                 grayscale(100%);
  }
  .tone-blogNav a {
    padding-left:           2em;
    background-position:    0.5em center;
    background-repeat:      no-repeat;
    background-color:       transparant;
  }
  .tone-blogNav li:hover {
    background-color:       #777;
  }
  .tone-blogNav a:hover span {
    visibility:             visible;
  }
  .tone-blogNav a span:hover {
    color:                  #FFF;
    filter:                 grayscale(0%);
  }
  .tone-blogNav a.pinterest {
    background-image:       url("../../images/favicon-pinterest-2-16x16.png");
  }
  .tone-blogNav a.tumblr {
    background-image:       url("../../images/favicon-tumblr-2-16x16.png");
  }