
#TOne-SidebarInfo {
  padding:          1em;
  overflow-y:       auto !important;
}
#TOne-SidebarInfo ul {
  display:          block;
  margin:           0;
  padding:          0;
  list-style:       none;
}
#TOne-SidebarInfo li {
  display:          block;
  margin:           0;
  padding:          0;
  list-style-type:  none;
}
#TOne-SidebarInfo a {
  display:          block;
  margin:           0;
  padding:          0.25em 1em;
  color:            #1DE9B6;
  text-decoration:  none;
}
#TOne-SidebarInfo a.visited {
  color:            #AA8;
}
#TOne-SidebarInfo a:hover {
  color:            #A7FFEB;
}
#TOne-SidebarInfo h3 span {
  float:            right;
  font-weight:      normal;
  color:            #1DE9B6;
  cursor:           pointer;
}