
html,
body {
  margin:                 0;
  padding:                0;
  font-family:            "Roboto", "Open Sans", sans-serif;
  color:                  #000;
  background-color:       #EEE;
}

input,
select,
button {
  font:                   inherit;
}
button {
  cursor:                 pointer;
}

.tone-group:after {
  visibility:             hidden;
  display:                block;
  content:                "";
  clear:                  both;
  height:                 0;
}

.tone-invisible {
  visibility:             hidden !important;
}
.tone-hidden {
  display:                none !important;
}

.tone-pageNav {
  display:                block;
  margin:                 1em 0;
  text-align:             center;  
}

.tone-pageNav-prev,
.tone-pageNav-pageNr,
.tone-pageNav-next {
  display:                inline-block;
  margin:                 0 0.25em;
  padding:                0.25em 1em;
  visibility:             visible;
}

.tone-pageNav-pageNr {
  width:                  3em;
  background-color:       transparent;
  text-align:             center;
  border:                 none;
}

.tone-pageNav-prev,
.tone-pageNav-next {
  background-color:       #CCC;
  cursor:                 pointer;
}

.tone-pageNav-prev:hover,
.tone-pageNav-next:hover {
  background-color:       #AAA;
}


.tone-lightbox {
  position:               absolute;
  display:                none;
  margin:                 0;
  padding:                0;
  background-color:       #000;
  opacity:                0.4;
}
.tone-lightbox.show {
  display:                block;
}
